body{
    background-color: black;
}

#gameCanvas{
    float: left;
    margin-top: 2px;
    margin-left: 2%;
    border: 10px solid #222420;
}



#button, #heading{
  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  background-color: #222420;
  margin-left: 41%;

}


#heading{
    margin-left: 17%;
}

#arrow{
    float: left;
    margin-top: 10%;
    margin-left: 10%;
}
#score{
    float: left;
    margin-top: 10%;
}
#Score, #Best{
    border: 4px solid #222420;
    color: white;
    background-color: black;
    margin-left: 5%;
    width: 33.33%;
    pointer-events: none;
}

p{
    color: grey; 
    margin-top: 10px;
}

#p1{
    text-align: right;
}

#p2{
    color: grey;
    margin-left: 5%;    
}